<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>BASE_URL</key>
    <string>$(BASE_URL)</string>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs microphone access to record audio.</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIImageName</key>
        <string>img_splash_stats</string>
        <key>UIColorName</key>
        <string>SplashBackground</string>
    </dict>
</dict>
</plist>
